body {
    text-align: center;
    background-color: #151515;
}

#canvas {
    border-radius: 5vmin;
    outline: 3vmin solid #000000;
    cursor: none;
    user-select: none;
}

#group-buttons {
    margin-top: 20px;
}

.button {
    display: inline-block;
    cursor: pointer;
}

.hidden {
    display: none;
}
